* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body{
	background: linear-gradient(to right, #3c6382 , #60a3bc);
	font-family: 'Lato', sans-serif;
	font-size: 1.3em;
	width: 50%;
	margin: 15px auto;
	padding: 20px;
	text-align: center;
	min-height: 50vh;
}

#playList{
	background: white;
	border-radius: 10px;
	text-align: left;
	opacity: 0.8;
	color: #1e3799;
}

li {
  padding: 8px;
  margin-left: 50px;
}

li.active{
	color: #1e3799;
}
header{
	color: #0c2461;
}

#controles{
	border: 1px #eee solid;
	border-radius: 10px;
	padding: 10px;
	background:#4e899e;
	opacity: 0.8
}

svg{
	color: #0c2461;
}

progress{
	width: 80%;
	margin: 10px;
	opacity: 0.5;
 
}

.tiempo{
	width:50%;
	position: relative;
	top:10px;
	left:0px;
	text-align:left;
	float:left;
	color: #0c2461;
}

.vol{
	width:50%;
	position: relative;
	top:10px;
	right:0px;
	text-align:right;
	float:left;
	color: #0a3d62;
	margin-bottom:20px;
}

#actual{
	color: #0a3d62;
}

h3{
	color: #0c2461;
	margin:0px;
}

footer {
  padding: 10px;
  margin: 10px;
  color: #0c2461;
}

.play {
  color: rgb(10, 0, 148);
}

.anterior {
  color: rgb(8, 0, 116);
}

.siguiente {
  color: rgb(0, 39, 148);
}